numpy
pandas
seaborn
matplotlib
scikit-learn
jupyter
quarto
ipykernel
notebook
pytest
black
isort
jupyterlab
xgboost
lightgbm
catboost
polars
scipy
quarto-cli
pip
importlib-metadata
tabulate
ipython
ipywidgets
nbconvert
nbformat
jupyter-contrib-nbextensions
shap
crewai
crewai-tools
