/*-- scss:defaults --*/
$body-bg: #002b36;
$body-color: #839496;
$headings-color: #b58900;
$link-color: #2aa198;
$link-hover-color: #cb4b16;

/*-- scss:rules --*/
.navbar {
    background-color: #073642;
}
code {
    background-color: #073642;
    color: #859900;
}

