/*-- scss:defaults --*/
$body-bg: #000000;
$body-color: #0ff0fc;
$headings-color: #ff0099;
$link-color: #f0f;
$link-hover-color: #0ff;

/*-- scss:rules --*/
.navbar {
  background-color: #0a0a0a;
  border-bottom: 2px solid #ff0099;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-shadow: 2px 2px 4px #ff0099;
}

code {
  color: #ccff00;
  background-color: #111;
  border: 1px solid #0ff;
}

.btn,
.callout {
  border: 1px solid #0ff;
  box-shadow: 0 0 5px #0ff;
}
